@import "reset.css"
@import "common.sass"

body
  @extend .font-content
  width: 300px
  background-color: $white-d
  color: $black

.container
  display: block !important
  background-color: $white
  padding: 16px

.stateHeader
  @extend .font-header
  font-size: 12px
  color: $grey-l
  border-bottom: 1px solid #eee
  line-height: 18px
  padding-left: 4px
  margin-bottom: 6px

.tab
  position: relative
  padding: 10px 6px
  border-radius: 4px
  cursor: pointer

  &:not(.tab--current)
    &:hover
      top: -1px
      box-shadow: 0 1px 0 2px #EEE

    &:active
      top: 0px
      box-shadow: 0 0 0 1px #EEE

.tab.tab--current
  &:hover
    cursor: default
    top: 0px
    box-shadow: none

.tab-favicon
  float: left
  width: 16px
  height: 16px
  margin-right: 6px

.tab-info
  overflow: auto

.tab-info-title
  font-size: 12px
  white-space: nowrap
  overflow: hidden
  color: $grey

.tab-info-state
  font-size: 12px
  font-style: italic
  color: $grey-l
  font-weight: lighter
  line-height: 16px

.inactiveTabs
  @extend .font-header
  font-size: 12px
  font-style: italic
  color: $grey
  padding: 16px
  text-align: center

  strong
    font-weight: bold
    color: $black

.btn
  @extend .font-header
  position: relative
  width: 100%
  background-color: $yellow
  border: none
  border-radius: 4px
  cursor: pointer
  box-shadow: 0 1px 0 1px $yellow-d
  outline: none
  padding: 14px 0

  &:not(.btn--disable)
    &:hover
      top: -1px
      box-shadow: 0 2px 0 1px $yellow-d

    &:active
      top: 1px
      box-shadow: 0 0 0 1px $yellow-d

.btn.btn--disable
  background-color: $white-d
  border: 2px solid $grey-l
  box-shadow: none
  cursor: default

.btn-content
  font-size: 20px
  line-height: 28px
  font-weight: bolder

.btn-hint
  font-size: 12px
  color: lighten($black, 10%)

footer
  @extend .font-header
  text-align: center
  background-color: $white-d
  font-size: 12px
  color: $grey
  line-height: 32px
  box-shadow: 0 2px 2px -2px $grey-l inset
  a
    color: $black
    font-weight: bold

.footer-logo
  width: 16px
  height: 16px
  vertical-align: text-bottom;
